#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica", sans-serif;
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
body {
  background-color: rgb(158, 158, 108);
}

#cabecera {
  height: 250px;
  background-image: url("./assets/images/navbar-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  text-align: center;
  color: white;
  height: 250px;
  position: relative;
  font-size: 30px;
  display: flex;
  justify-content: center;

}

#titulo-cabecera {
  position: absolute;
  top: 80%;
  margin: auto;
  
  font-weight: bolder;
}

.sider {
  border: solid 5px black;
  display: flex;
  width: 10%;
  flex-direction: column;

  padding: 10px;
  background-color: brown;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

#boton {
  background-color: rgb(205, 205, 156);
  border-radius: 8px;
  padding: 0.5px;
  margin: 2px;
}

.container {
  background-color: black;
}

.flex-contenido {
  display: flex;
}

.page {
  width: 90%;
}
